<section id="opcion">
  <h1>ALGORITMIA</h1>
  <h3>Evaluacion 1</h3>
  <p>Selec1cione una opción de la Barra lateral izquierda</p>

  <p>
    Se hace uso de la libreria de Angular Forms, para la comunicacion de datos
    se implementa el String Interpolatión, y Event Binding para escuchar eventos
    de los botones.
  </p>

  <p>
    Se implementa estructuras de Control como el ngIg, para ocultar algunos
    objetos cuando las estradas estan vacias, tambien ngFor, para recorrer un
    array de números en el caso de las comisión sobre las ventas.
  </p>
</section>
